<!DOCTYPE html>
<html>
<head> //结构话标签
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  叫div  &ltdiv&gt
  <ul >
      <li>
          wo de
      </li>
      <li>
          ni de
      </li>
      <li>
          🍎
      </li>
  </ul>
  <div id="demo1">
      <a href="http://baidu.com" target="_blank"> baidu </a>
  </div>
    <a href="#demo1"> find first</a>
  <em>无双</em>//斜的
  <form >
      <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
      </select>
      username <input type="text" name="username" value="请输入用户名"
                  onfocus="if (this.value == '请输入用户名'){this.value =''} this.style.color = '#424242'"
                  onblur="if (this.value ==''){this.value = '请输入用户名'} this.style.color='#999'">
  </form>
</body>
</html>
